html {
    background-image: linear-gradient(to bottom right, #31848C, #8CF5FF);
    background-position: center;
    background-repeat: no-repeat;
}

#perfil_foto {
    width:40px;
    height:40px;
    border-radius:50%;
    top:0;
    padding: 1px:;
    background-color

}




